--index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://pypi.org/simple
torch
numpy
pyvips
scikit-image
aiohttp
Pillow
albumentations
rationai-empaia @ git+ssh://git@gitlab.ics.muni.cz/rationai/digital-pathology/libraries/empaia